# Server
PORT=3000
PUBLIC_BACKEND_URL="http://192.168.2.12:3000"

# Database
DATABASE_URL="postgresql://rent_a_tool:password@postgres.render.com/rent_a_tool"

# Auth
JWT_SECRET="A_VALUE"

# Stripe
STRIPE_SECRET_KEY="sk_test_"