PORT=3000
DATABASE_URL="postgresql://rent_a_tool:password@postgres.render.com/rent_a_tool"
JWT_SECRET="A_VALUE"
STRIPE_SECRET_KEY="sk_test_"
STRIPE_CONNECT_REFRESH_URL="https://example.com/stripe/refresh"
STRIPE_CONNECT_RETURN_URL="https://example.com/stripe/return"
STRIPE_BILLING_RETURN_URL="https://example.com/stripe/billing"